<app-scrollable-tab
  [menus]="topMenus"
  [backgroundColor]="'#fff'"
  [indicatorColor]="'red'"
  [titleColor]="'#3f3f3f'"
  [titleActiveColor]="'red'"
  (tabSelected)="handleTabSelected($event)"
>
</app-scrollable-tab>
<app-image-slider [sliders]="imageSliders"></app-image-slider>
<app-horizontal-grid>
  <span appGridItem *ngFor="let item of channels">
    <img appGridItemImage="2rem" [src]="item.icon" alt="" />
    <span appGridItemTitle="1rem" class="title">{{ item.title }}</span>
  </span>

  <!-- <div appGridItem class="special">
    <div appGridItemImage="2rem" style="background-color: red;"></div>
    <div appGridItemImage="2rem"></div>
    <span appGridItemTitle="1rem">Hello</span>
  </div>
  <div>
    <div appGridItemImage="2rem"></div>
    <span appGridItemTitle="1rem">Hello</span>
  </div> -->

</app-horizontal-grid>
